BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 80
AccessModifierOffset: -8
NamespaceIndentation: None 
PointerAlignment: Right
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
FixNamespaceComments: false
AlignAfterOpenBracket: Align
